/*
Place your custom CSS here
*/
@import "../../node_modules/antd/dist/antd";

.table {
    .tr.selected .td {
        background: #e6f7ff !important;
        border-color: #00000008;
    }

    .th.column-check {
        align-items: center;
        z-index: 1;
    }

    .column-check input[type="radio"],
    input[type="checkbox"] {
        position: absolute !important;
    }
}
